@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LeviReBrushed';
  src: url('../../fonts/LeviReBrushed.ttf') format('truetype');
}
@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../../fonts/Pacifico-Regular.ttf') format('truetype');
}
